:root {
    --border-color: #A4A8A7;
    --black-color: #333;
    --caption-color: #3B5998;
    --background-color: #F9AB24;
    --background-fowm-color: white;
    --border-radius: 6px;
    --fields-width: 20rem;
    color: var(--black-color);
    font-family: Stem, sans-serif;
    font-size: 20px;
}

main {
    font-family: Stem, sans-serif;
    position: center;
    display: flex;
    background-color: var(--background-color);
}

main .request-box {
    background-color: var(--background-fowm-color);
    border: 4px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin: 15rem auto;
    width: 40rem;
}

main .request-box .header {
    text-align: center;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border-bottom: 4px solid var(--border-color);
    font-weight: bold;
}

main .request-box .body {
}

main .request-box .body form .field {
    padding: 1rem;
}

main .request-box .body form .field div {
    text-align: left;
}

main .request-box .body form .field .place {
    display: inline;
}

main .request-box .body form .field .place .select {
    float: right;
    margin-top: -1.8rem;
    width: var(--fields-width);
    height: 2.5rem;
}

main .request-box .body form .field .start {
    float: right;
    margin-top: -2.2rem;
    height: 1rem;
    width: var(--fields-width);
}

main .request-box .body form .field .finish {
    float: right;
    margin-top: -2rem;
    width: var(--fields-width);
}

main .request-box .body form .field .chosen-vehicle .select {
    float: right;
    margin-top: -1.8rem;
    width: var(--fields-width);
    height: 2.5rem;
}

main .request-box .body .buttons button {
    margin: 1rem 0 1rem 7.5rem;
    width: 9rem;
    height: 2rem;
    font-size: 0.9rem;
}


main .request-box .body .buttons .navButton {
    color: white;
    background-color: red;
}

