:root {
    --border-color: #A4A8A7;
    --black-color: #333;
    --caption-color: #3B5998;
    --background-color: #F9AB24;
    --background-fowm-color: white;
    --border-radius: 6px;
    --fields-width: 20rem;
    color: var(--black-color);
    font-family: "PolusFonts", serif;
    font-size: 20px;
}

main {
    font-family: "PolusFonts", serif;
}

main .request-box {
    margin: 0 auto;
    width: 40rem;
    min-width: 45rem;
    max-width: 45rem;
}

main .request-box .header {
    font-family: "PolusFonts", serif;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--orange-color);
    padding: 1rem 0;
    margin-bottom: 0.5rem;
}

main .request-box .body form .field {
    padding: 1rem;
}

main .request-box .body form .field div {
    font-family: "PolusFonts", serif;
    text-align: left;
}

main .request-box .body form .field .place {
    display: inline;
}

main .request-box .body form .field .place .select {
    float: right;
    margin-top: -1.8rem;
    width: var(--fields-width);
    height: 2.5rem;
    border: 1px solid var(--orange-color);

}

main .request-box .body form .field .place .select * {
    color: var(--text-color);
}


main .request-box .body form .field .start {
    float: right;
    margin-top: -2.2rem;
    color: var(--text-color);
    width: 18rem;
    border: 1px solid var(--orange-color);
    border-radius: 3px;
}

main .request-box .body form .field .start * {
    color: var(--text-color);
}

main .request-box .body form .field .finish {
    float: right;
    margin-top: -2rem;
    color: var(--text-color);
    width: 18rem;
    border: 1px solid var(--orange-color);
    border-radius: 3px;
}

main .request-box .body form .field .finish * {
    color: var(--text-color);
}

main .request-box .body form .field .chosen-vehicle .select {
    float: right;
    margin-top: -1.8rem;
    width: var(--fields-width);
    height: 2.5rem;
    border: 1px solid var(--orange-color);
}

main .request-box .body form .field .chosen-vehicle .select * {
    color: var(--text-color);
}

main .request-box .body .buttons {
    margin: 2rem auto;
}

main .request-box .body .buttons button {
    font-family: "PolusFonts", serif;
    height: 40px;
    width: 150px;
    margin: 0 3rem;
    background-color: var(--orange-color);
    color: green;
    font-weight: bold;
}


main .request-box .body .buttons .navButton {
    font-family: "PolusFonts", serif;
    height: 40px;
    width: 150px;
    margin: 0 3rem;
    background-color: var(--orange-color);
    color: red;
    font-weight: bold;
}

.calendar-box {
    border-top: 1px solid var(--orange-color);
    border-right: 1px solid var(--orange-color);
    border-left: 1px solid var(--orange-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin: 0 auto;
    width: 25rem;
}

table {
    color: var(--text-color);
    border-collapse: collapse;

}

.MuiTable-root.css-rqglhn-MuiTable-root {
    background-color: var(--background-color);
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeSmall.css-1howxi1-MuiTableCell-root {
    color: var(--text-color);
    border-bottom: 1px solid var(--orange-color);
}

.MuiTableRow-root.MuiTableRow-head.css-1q1u3t4-MuiTableRow-root th {
    border-top: 1px solid var(--orange-color);
    border-left: 1px solid var(--orange-color);
}

.MuiTableBody-root.css-apqrd9-MuiTableBody-root tr td {
    border-bottom: 1px solid var(--orange-color);
    border-left: 1px solid var(--orange-color);
}


.free {
    font-family: "PolusFontsBold", sans-serif;
    color: green;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.busy {
    font-family: "PolusFonts", serif;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@font-face {
    font-family: "PolusFontsBold";
    src: url("http://localhost:3000/fonts/Stem-Regular.otf");
}

@font-face {
    font-family: "PolusFonts";
    src: url("http://localhost:3000/fonts/Stem-Thin.otf");

}
