.companyLogo {
    width: 300px;
}

.background {
    height: 940px;
    background-color: #F9AB24;
}

.center {
    text-align: center;
    padding: 200px 0;
}

.text {
    font-family: "PolusFonts", serif;
}

.input {
    height: 70px;
}

.button {
    height: 100px;
}

@font-face {
    font-family: "PolusFonts";
    src: url("http://localhost:3000/fonts/Stem-Regular.otf");
}
