:root {
    --border-color: #A4A8A7;
    --black-color: #333;
    --caption-color: #3B5998;
    --background-color: #F9AB24;
    --background-fowm-color: white;
    --border-radius: 6px;
    color: var(--black-color);
    font-family: Stem, sans-serif;
    font-size: 20px;
}

html {
    font-family: Stem, sans-serif;
    position: relative;
    background-color: var(--background-color);
}

html .orderBox {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    background-color: var(--background-fowm-color);
    margin: 10rem auto;
    min-width: 35rem;
    max-width: 35rem;
    border: 4px solid var(--border-color);
}

html .orderBox header {
    font-weight: bold;
    text-align: center;
    border-bottom: 4px solid var(--border-color);
    padding: 1rem 0;
    margin-bottom: 0.5rem;
}

html .orderBox header .orderNumber {

}

html .orderBox header .exit {
    float: right;
    margin-top: -1.5rem;
}

html .orderBox main {
    text-align: left;
    display: grid;
}

html .orderBox main text {
    margin: 0.5rem 2rem 0.5rem 2rem;

}

html .orderBox main text div {
    margin: 1rem 2rem 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.2rem;
    width: 15rem;
}

html .orderBox main text a {
    float: right;
    border: 1px solid var(--border-color);
    padding: 0.3rem;
    width: 15rem;
    margin-top: -2.4rem;
}

html footer {
    margin: 1rem 0 1rem 5.5rem;
}

html footer .buttons * {
    margin-right: 6rem;
    width: 9rem;
}
