.center {
    text-align: center;
    padding: 400px 0;
}

.text {
    font-family: "PolusFonts";
}

.input {
    height: 70px;
}

.button {
    height: 100px;
}

@font-face {
    font-family: "PolusFonts";
    src: url("http://localhost:3000/fonts/Stem-Bold.otf");
}
