div {
    color: var(--text-color);
    font-family: "PolusFonts", serif;
}

div .buttons {
    margin: 0.5rem auto;
}

div .buttons  .order-button {
    font-family: "PolusFonts", serif;
    height: 40px;
    width: 150px;
    margin: 0 10rem;
    background-color: var(--orange-color);
    color: green;
    font-weight: bold;
}

div .buttons .exit {
    font-family: "PolusFonts", serif;
    height: 40px;
    width: 150px;
    margin: 0 10rem;
    background-color: var(--orange-color);
    color: red;
    font-weight: bold;
}